# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# vif
output/vif/*

# coefficients
output/coefficients/*

!output/coefficients/standardized
!output/coefficients/comparison_table.csv
